.container {
  width: 100%;
  display: block;
}
.wrapper {
  max-width: 1381px;

  margin: auto;
}

@media (min-width: 700px) {
  .central-layout {
    display: flex;
  }
  .main-col {
    flex: 3;
  }
  .side-col {
    flex: 1;
  }
}
